/* https://coolors.co/image-picker */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

:root{
    /* CSS HEX */
    --main-color: #A8CA22ff;
    --accent1: rgba(168, 202, 34, 0.712);
    --accent2: rgba(168, 202, 34, 0.39);
    --main-color2: #EBCA3B;
    --main-color3: #7EEB3B;
    --bg1: #222222ff;
    --bg1-offset: rgb(180, 180, 180);
    --bg2: #2D2D2Dff;
    --bg-accent1: #4C4C4Cff;
    --bg-accent2: rgba(76, 76, 76, 0.692);
}

/* sets all to defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

/* ------------------------------------------------------------------------ NAV CONTENT */
.topNavCtn{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--bg1);
    color: var(--bg1-offset);
    align-items: center;
    padding:1rem;
}

.logo{
    width:2.5rem;
 }

.navBox1{
    font-size:2rem;
    margin-left:2rem;
}

.subText{
    font-size:.75rem;
    opacity: 50%;
}

.navBox2{
    justify-self: center;
    list-style: none;
    display:flex;
    margin-right:2rem;
    gap:2rem;
}

.navItems{
    font-size:1.5rem;
    /* background-color: var(--bg-accent2); */
    padding: 1rem 1.5rem;
    /* border-radius: .25rem; */
    transition: .5s color ease;
}

.navItems:hover{
    cursor: pointer;
    color: var(--main-color);
}

/* user svg container */
#userIcon{
    /* background-color: var(--bg-accent1); */
    padding: .25rem .5rem;
    margin: auto;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.068);
    transition: background-color .5s ease;
}

#userIcon:hover{
    background-color: var(--main-color);
}

/* user svg size and color control */
.navItems img{
    filter:invert(1);
    opacity:75%;
    width:2rem;
}


/* ------------------------------------------------------------------------ MAIN CONTENT */

.mainCtn{
    display:flex;
}

/* --------------------------------- INPUT CTN */
.userInputCtn{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.inputArea{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
}

#searchBtn{
    padding: 1rem;
    margin-left: 2rem;
    margin: auto 2rem;
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    background-color: var(--main-color);
    border-radius: 10rem;
    transition: .5s all ease;
}

#searchIcon{
    font-size:2rem;
}

#searchBtn:hover{
    background-color: var(--accent1);
}

#ingredientInput{
    background-color: rgba(128, 128, 128, 0.253);
    border-radius:1rem;
    padding:1rem;
}

/* ------------------------------ CONTENT CTN */

.contentCtn{
    margin: 2rem auto;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
}

#recipeDisplayCtn{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}



.recipeImgCtn{
    position:relative;
}

.recipeImg{
    width:30rem;
    border-radius: 1rem;
}

.recipeTitle{
    font-weight: bold;;
    font-size: 3rem;
}

.recipeDescription{
    font-size:1.2rem;
    margin: 1rem auto;
}


.ingredients{
    margin-top: 2rem;
    list-style-type: none;

    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.ingredients li{
    margin-left:5rem;
}

hr.divider1{
    width:80%;
    margin: 1rem auto;
}

.recipeInstructions{
    margin-top:3rem;
    font-size: 1rem;
    list-style-type: none;

}
.recipeInstructions li{

}

/* TODO make the animation properties into a separate class and duplicate the heart */

/* heart icon stuff */
#heartIcon{
    /* fill:red; */
    position:absolute;
    top:1rem;
    right:1rem;
    font-size:4rem;
    color: white;
    text-shadow:2px 2px 5px #6d6d6d;
    cursor: pointer;


    transition: .5s all ease;
}



#heartIcon:hover {
    color: var(--main-color)
}

#heartIcon.active {
    color:red;
}

/* flying duplicate */
#heartdummy{
    position:absolute;
    top:1rem;
    right:1rem;
    font-size:4rem;
    color:red;
    z-index:-1;
    transition: 1s all ease;
}

#heartdummy.active{
    z-index:100;
    animation-name: heartFly;
    animation-duration: 2s;
}

/* -------------------------------------------------------------- ASIDE SAVED GALLERY  */

.savedGallery{
    margin-top: 2rem;
    margin-right: 1rem;
    padding:1rem;
    gap: 1rem;
    display:flex;
    flex-flow: column nowrap;
    flex-basis: 200px;
    background-color: var(--accent2);
    border-radius: 2rem;
    height:100vh;
    overflow-y: auto;
}
aside::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
  }

.savedGallery .thumbCard{
    scale:100%;
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    
    /* for heart icon */
    position:relative;

    transition: .5s scale ease ; 
}

.savedGallery .thumbCard:hover{
    scale: 107%;

}

.imgThumb{
    width:120px;
    height:120px;
    object-position:50% 50%;
    object-fit:cover;
    border-radius: .5rem;
}

/* #heart-iconThumb{
    position:absolute;
    top:20px;
    right:20px;
    font-size:2rem;
    color: red;
    text-shadow:2px 2px 5px #6d6d6d;
    cursor: pointer;
    transition: .5s all ease;
} */



/*-------------------------------------------------------------------- UTILITY CLASSES */

/* don't over use important, but in this case it's necessary */
.hide{
    display:none !important;
}

/* .hideCard{
    display:none;
} */


/* ------------------------------------------------------------------------ MODAL CONTENT */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

}

.img-mdl{
    width:35vw;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 2rem;
    width: 80%;
    position: relative;
    display:flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.unfavBtn{
    padding: 1rem;
    margin-top: 2rem;
}



/*------------------------------------------------------------------------- ANIMATION KEYFRAMES */

@keyframes heartFly {
    0% {
      transform: translateY(0) scale(1.5);
    }
    25% {
      transform: translateY(0) scale(1.2);
    }
    50% {
      transform: translateY(0) scale(1);
    }
    /* 75% {
      transform: translateY(-30px) scale(1.1);
    }  */
    100% {
        transform: translateX(100vw) translateY(-50px) scale(0.2);
    }
}