*{
    /* border: 1px solid black; */
    /* margin: 1rem; */
}

.body-ctn *{
    margin: 1rem;
}

.recipeCard {
    border: 1px solid black;
}

hr{
    background-color: #0a4f1a;
    height: 10px;
}

.description{
    overflow:hidden;
}

.hide{
    visibility: hidden;
}

.modal-ctn{
    position:fixed;
    top:0;
    margin:auto;
    background-color: rgb(106, 180, 46);
    border: 1px solid black;
}

.hideCard{
    display:none;
}


/* MODAL CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }